@import url('buttons.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Importante: para centrar el container en el body debes darle un height en este caso el min-height=100vh*/
body {
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Gulzar', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
